:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --additional-text-color-white: #ffffff;
  --primary-bg-color: #e5e5e5;
  --additional-bg-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

/* Навігація */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Контакти */
.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Герой */
.hero-title {
  color: var(--additional-text-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка Студія*/
.button.primary {
  color: var(--additional-text-color-white);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* Кнопки Портфоліо */
.button.secondary {
  color: var(--title-text-color);
  background-color: var(--additional-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--additional-text-color-white);
  background-color: var(--accent-color);
}

/* Секція */
.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Преимущества */
.features .title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Наша команда */
.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team .text {
  font-size: 16px;
  line-height: 1.18px;
  letter-spacing: 0.03em;
}

/* Портфоліо. Приклади робіт */
.portfolio-list .title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* Подвал */

.footer .logo-studio {
  color: var(--additional-text-color-white);
}
.address-items .address {
  color: var(--additional-text-color-white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-items .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-items .link:hover,
.address-items .link:focus {
  color: var(--accent-color);
}
